.yipyip-hidden {
  display: none;
}

#yipyip-container {
  padding-left: 15px !important;
  cursor: grab !important;
  position: fixed !important;
  z-index: 2147483003 !important;
  pointer-events: all !important;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  -ms-border-radius: 12px !important;
  border-radius: 12px !important;
  border: 1px solid rgba(180, 180, 180, 0.20) !important;
  background-color: rgba(35, 35, 35, 0.6) !important;
  box-shadow: none !important;
  -webkit-backdrop-filter: blur(16px) !important;
  backdrop-filter: blur(16px) !important;
  box-sizing: border-box !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -ms-box-orient: horizontal !important;
  -moz-box-orient: horizontal !important;
  box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: row !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -ms-flex-align: center !important;
  -webkit-align-items: center !important;
  align-items: center !important;
  box-sizing: border-box !important;
}

#yipyip-container > svg {
  height: 18px;
  width: 18px;
  min-width: 18px;
  fill: rgba(255, 255, 255, 0.75) !important;
}

#yipyip-input-container {
  margin-left: 15px !important;
  height: 60% !important;
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  -ms-flex: 1 !important;
  flex: 1 !important;
  font-size: 13px !important;
  line-height: 1.35em !important;
  box-sizing: border-box !important;
}

#yipyip-input, #yipyip-matches-summary {
  color: white !important;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-size: 13px !important;
  line-height: 1.35em !important;
  box-sizing: border-box !important;
}

#yipyip-input {
  margin: 0px !important;
  background-image: none !important;
  height: 100% !important;
  position: relative !important;
  display: inline-block !important;
  width: 100% !important;
  padding: 0 !important;
  outline: none !important;
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

#yipyip-matches-summary {
  position: relative !important;
  display: inline-block !important;
  margin: 0 10px !important;
}

#yipyip-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.65) !important;
  opacity: 1 !important; /* Firefox */
}

#yipyip-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.65) !important;
}

#yipyip-input::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.65) !important;
}

.yipyip-selection {
  position: fixed !important;
  border-radius: 9px !important;
  z-index: 2147483003 !important;
  display: block !important;
  border: 3px solid blue !important;
  opacity: 0.3 !important;
  pointer-events: none !important;
  box-sizing: border-box !important;
}

.yipyip-selection.yipyip-selected-selection {
  opacity: 1 !important;
}

.yipyip-highlight {
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: yellow !important;
  position: relative !important;
  top: unset !important;
  left: unset !important;
  bottom: unset !important;
  right: unset !important;
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  color: black !important;
}

.yipyip-icon-button {
  position: relative !important;
  height: 36px !important;
  width: 36px !important;
  min-width: 36px !important;
  -webkit-border-radius: 7px !important;
  -moz-border-radius: 7px !important;
  -ms-border-radius: 7px !important;
  border-radius: 7px !important;
  color: rgba(255, 255, 255, 0.65);
  cursor: pointer !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -ms-flex-align: center !important;
  -webkit-align-items: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  -moz-box-pack: center !important;
  -ms-flex-pack: center !important;
  -webkit-justify-content: center !important;
  justify-content: center !important;
}

.yipyip-icon-button:hover {
  background-color: rgba(45, 45, 45, 0.25) !important;
}

#yipyip-info-dropdown-button {
  margin-right: 6px !important;
}

.yipyip-tooltip-panel {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  background-color: rgba(35, 35, 35, 0.6) !important;
  -webkit-backdrop-filter: blur(16px) !important;
  backdrop-filter: blur(16px) !important;
  position: fixed !important;
  z-index: 2147483004 !important;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  -ms-border-radius: 12px !important;
  border-radius: 12px !important;
}

.yipyip-tooltip-arrow {
  position: fixed !important;
  border-style: solid !important;
  border-color: rgba(35, 35, 35, 0.6) transparent !important;
  z-index: 2147483004 !important;
}

#yipyip-info-panel {
  width: 500px !important;
  min-width: 500px !important;
  padding: 20px !important;
  box-sizing: border-box !important;
}

#yipyip-info-panel ol {
  list-style-type: decimal !important;
  padding-inline-start: 30px !important;
  margin-block-start: 0px !important;
  margin-block-end: 0px !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
}

.yipyip-info-panel-section-header {
  margin-bottom: 10px !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  color: rgba(255, 255, 255, 0.65) !important;
}

.yipyip-info-panel-margin-top-section-header {
  margin-top: 15px !important;
}

.yipyip-info-panel-section-header a,
.yipyip-info-panel-section-header a:hover {
  color: rgba(255, 255, 255, 0.65) !important;
  text-decoration: underline !important;
}

.yipyip-info-panel-list-item, .yipyip-info-panel-row {
  padding: 4px 0 !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  color: white !important;
  box-sizing: border-box !important;
  line-height: 1.35em !important;
  letter-spacing: normal !important;
}

.yipyip-info-panel-row {
  padding-left: 15px !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -ms-flex-align: center !important;
  -webkit-align-items: center !important;
  align-items: center !important;
}

.yipyip-info-panel-setting-row {
  -webkit-box-align: flex-start !important;
  -moz-box-align: flex-start !important;
  -ms-flex-align: flex-start !important;
  -webkit-align-items: flex-start !important;
  align-items: flex-start !important;
}

.yipyip-info-panel-shortcut-key {
  display: inline-block !important;
  text-align: center !important;
  border: 1px solid rgba(255,255,255,0.27) !important;
  min-width: 16px !important;
  font-size: 12px !important;
  color: white !important;
  font-weight: 500 !important;
  height: 22px !important;
  line-height: 22px !important;
  padding: 0 5px !important;
  margin-right: 5px !important;
  margin-left: 0px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  border-radius: 4px !important;
  white-space: nowrap !important;
}

.yipyip-info-panel-shortcut-text {
  margin-left: 3px !important;
}

.yipyip-info-panel-setting-text {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.yipyip-info-panel-setting-description {
  margin-top: 5px;
  font-size: 12px !important;
  color: rgba(255,255,255, 0.7) !important;
}

.yipyip-info-panel-setting-checkbox {
  margin: 2px 12px 0 0 !important;
  -webkit-appearance: checkbox !important;
  height: 16px !important;
  width: 16px !important;
  display: block !important;
  position: relative !important;
  visibility: visible !important;
  opacity: 1 !important;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.yipyip-info-panel-setting-checkbox:after {
  content: none !important;
}

.yipyip-info-panel-button {
  box-sizing: border-box !important;
  line-height: 1.35em !important;
  letter-spacing: normal !important;
  text-decoration: none !important;
  margin: 10px 15px 0 15px !important;
  padding: 7px 15px !important;
  background-color: none !important;
  color: white !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  appearance: none !important;
  outline: none !important;
  border: 1px solid rgba(255,255,255,0.65) !important;
  -webkit-border-radius: 7px !important;
  -moz-border-radius: 7px !important;
  -ms-border-radius: 7px !important;
  border-radius: 7px !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -ms-flex-align: center !important;
  -webkit-align-items: center !important;
  align-items: center !important;
}

.yipyip-info-panel-button:hover {
  border: 1px solid rgba(255,255,255,0.9) !important;
  color: white !important;
  text-decoration: none !important;
}

.yipyip-info-panel-button svg {
  margin-right: 15px !important;
  height: 18px !important;
  width: 18px !important;
}

.yipyip-icon-button svg {
  width: 16px !important;
  height: 16px !important;
}

.yipyip-info-panel-button svg,
.yipyip-icon-button svg {
  fill: rgba(255, 255, 255, 0.75) !important;
}

.yipyip-info-panel-button:hover svg,
.yipyip-icon-button:hover svg {
  fill: rgba(255, 255, 255, 1) !important;
}

#yipyip-comake-link {
  text-transform: uppercase !important;
}

#yipyip-visibility-tooltip {
  padding: 15px !important;
  text-align: center !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  color: white !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -ms-flex-align: center !important;
  -webkit-align-items: center !important;
  align-items: center !important;
  -webkit-box-orient: vertical !important;
  -ms-box-orient: vertical !important;
  -moz-box-orient: vertical !important;
  box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

#yipyip-visibility-tooltip-keyboard-shortcuts {
  margin-top: 8px;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -ms-flex-align: center !important;
  -webkit-align-items: center !important;
  align-items: center !important;
}

#yipyip-temporarily-enabled-message {
  padding: 20px !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  color: white !important;
  box-sizing: border-box !important;
  line-height: 1.35em !important;
  letter-spacing: normal !important;
}
