body, html, #root {
  margin: 0px;
  height: 100%;
}

#yipyip-login-page-container {
  background-color: #242426;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#yipyip-login-page-width {
  width: 400px;
  max-height: 90%;
  position: relative;
  padding: 30px 10px;
}

#yipyip-login-page-logo {
  text-align: center;
  margin-bottom: 30px;
}

#yipyip-login-page-logo svg {
  height: 54px;
  width: 54px;
}

#yipyip-login-page-header {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.55em;
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

#yipyip-login-page-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.35em;
  color: rgba(255, 255, 255, 0.65);
  margin-bottom: 15px;
}

#yipyip-login-page-input {
  padding: 10px 15px;
  border: 1px solid #444444;
  background-color: #222222;
  outline: none;
  width: 100%;
  box-shadow: none;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  color: white;
  line-height: 1.35em;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

#yipyip-login-page-input:hover {
  border: 1px solid #555555;
}

#yipyip-login-page-input:focus {
  border: 1px solid #4990E2;
  -webkit-box-shadow: 0 0 0 3px #3b516d;
  -moz-box-shadow: 0 0 0 3px #3b516d;
  box-shadow: 0 0 0 3px #3b516d;
}

#yipyip-login-page-input.yipyip-login-page-input-disabled {
  pointer-events: none;
  background-color: #2B2B2B;
}

#yipyip-login-page-terms {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  color: rgba(255,255,255,0.35);
  line-height: 1.35em;
}

#yipyip-login-page-terms a {
  color: #4990E2;
  text-decoration: none;
}

#yipyip-login-page-terms a:hover {
  color: #3B96FF;
}

#yipyip-login-page-enter-to-continue-line {
  margin-bottom: 50px;
  text-align: right;
  min-height: 17px;
}

#yipyip-login-page-enter-to-continue {
  text-align: right;
  display: inline;
  line-height: 1.35em;
  letter-spacing: normal;
  text-decoration: none;
  padding: 0;
  background-color: none;
  color: rgba(255,255,255,0.65);
  font-size: 13px;
  font-weight: 400;
  appearance: none;
  outline: none;
  background: none;
  background-color: none;
  border: none;
  cursor: pointer;
}

#yipyip-login-page-enter-to-continue.yipyip-hidden-button {
  visibility: hidden;
}

#yipyip-login-page-errors {
  color: #F0334C;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.35em;
  text-align: left;
  margin: 10
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

.yipyip-loading-spinner {
  display: inline-block;
  position: relative;
  height: 16px;
  width: 16px;
  min-width: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-animation: rotation 0.7s infinite linear;
  -moz-animation: rotation 0.7s infinite linear;
  -o-animation: rotation 0.7s infinite linear;
  animation: rotation 0.7s infinite linear;
  box-sizing: border-box;
}

.yipyip-loading-spinner-half-circle {
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-top: 2px solid #777777;
  border-left: 2px solid #777777;
  border-bottom: 2px solid #777777;
  border-right: 2px solid transparent;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
